@font-face {
    font-family: 'Hamburger-Regular';
    src: url(./Hamburger-Regular.ttf) format('truetype'); 
  }
  :root,
  [esquema_colores=principal]{
    --color1: #421f0b;
    --color2: #fbf0de;
    --color3: #e2a66a;
    --color4: #cfb0a6;
  }

.img-logo {
    border-radius: 50%;
    height: 55px;
    margin-right: 8px;
    margin-left: 35px;
}

#body {
    font-family: 'Roboto', sans-serif;
}
.color-bg-body{
background-color: #fbf0de;
}
.color_background {
    background-color: var(--color2);
}
:root{
    --color-beige: 
}

.navbar-brand {
    color: black;
}

/*
.navbarBg {
    background-color: transparent;
    position: fixed;
    z-index: 1;
}

*/
.navbarBg_secondary {
    background-color: var(--color1);
}

.navbar-scroll-hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

/*
.d-block {
    width: 905px;

}
*/

.div>ul {
    color: black;
}
.tips_color, .card-color{
    color: #421f0b;
}

.nav-link.activate {
    font-weight: bold;
}

.navbar a:hover {
    font-weight: bold;

    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #e2a66a;
    text-decoration-skip-ink: auto;
}
.titulo_principal > h1{
    color: var(--color1)
}
.titulo_principal >  h3{
    color: var(--color1)
}
.text_info {
    color: black;
    font-size: 125%;
    text-align: center;
    margin: 18px;
}
.text_info>h1 {
    font-family: "Hamburger-Regular";
    font-size: 85px;
}
.text_info>p {
    font-size: 25px;
    margin-right: 180px;
    margin-left: 180px;
    font-family: "Comfortaa", sans-serif;
}
.card1 {
    width: 18rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.card1:hover {
    transform: scale(1.05);
    opacity: 0.8;
}
.card-img-top {
    max-width: 100%;
}

.imgs_articulo {
    display: flex;
    justify-content: center;
}
.imgArt {
    margin-left: 7px;
}
.sub_titulo {
    font-weight: bold;
    font-size: 27px;
    text-decoration: underline;
    text-decoration-color: var(--color3);

}

.sub_titulo2 {
    font-weight: bold;
    font-size: 27px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--color3);
    color: var(--color1)
}

.container_cards {
    display: flex;
    justify-content: center;
}

.container-services {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.container-services-imgs {
    width: 489px;
    height: 302px;
}

.servicesBox {
    background-color: #e4ebf5;
}

.card-body {
    text-align: center;
}

.card {
    margin: 25px 50px;
}

.card1 {
    margin-left: 25px;
    margin-right: 25px;
}

.card-text {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.txt-secondary {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.card-title-services {
    color: var(--color3);
    font-weight: bolder;
}


.tile_tips {

    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.container-bottom {
    margin-top: 55px;

    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.container-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-top: 35px;
}

.container-tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 15px;
}

.btn-tips {
    margin: 0 10px;
}


.team-imgs {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.img-tips {
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
}

@media screen and (min-width: 320px) and (max-width: 479px) {

    .carousel,
    .navbar {
        width: 100%;
        position: relative;
    }

    .navbar {
        z-index: 1;
    }

    .navbarBg {
        background-color: var(--color1);
    }

    .text_info>h1 {
        font-size: 280%;
    }

    .text_info>p {
        font-size: medium;
        margin-left: auto;
        margin-right: auto;
    }

    .text_info>h3 {
        font-size: larger;
    }

    .imgs_articulo {
        display: flex;
        justify-content: center;
    }

    .imgArt {
        margin-left: 7px;
        width: 85%;
    }


    .imgArt:nth-of-type(3),
    .imgArt:nth-of-type(4) {
        display: none;
    }

    .container_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .container_cards .card1:nth-child(1),
    .container_cards .card1:nth-child(2) {
        display: none;
    }

}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .navbarBg {
        background-color: transparent;
        position: fixed;
        z-index: 1;
    }

    .carousel,
    .navbar {
        width: 100%;
        position: relative;
    }



    .text_info>h1 {
        font-size: 280%;
    }

    .text_info>p {
        font-size: medium;
        margin-left: auto;
        margin-right: auto;
    }

    .text_info>h3 {
        font-size: larger;
    }



    .container_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card1 {
        width: 100%;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbarBg {
        background-color: transparent;
        position: fixed;
        z-index: 1;
    }

    .carousel,
    .navbar {
        width: 100%;
        position: relative;
    }

    .navbar {
        z-index: 1;
    }

    .text_info>h1 {
        font-size: 280%;
    }

    .text_info>p {
        font-size: medium;
        margin-left: auto;
        margin-right: auto;
    }

    .text_info>h3 {
        font-size: larger;
    }



    .container_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card1 {
        width: 100%;
        margin-bottom: 20px;
    }

}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbarBg {
        background-color: transparent;
        position: fixed;
        z-index: 1;
    }

    .carousel,
    .navbar {
        width: 100%;
        position: relative;
    }

    .navbar {
        z-index: 1;
    }

    .container_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card1 {
        width: 100%;
        margin-bottom: 20px;
    }

}
@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .navbarBg {
        background-color: transparent;
        position: fixed;
        z-index: 1;
    }

    .carousel,
    .navbar {
        width: 100%;
        position: relative;
    }

    .navbar {
        z-index: 1;
    }

    .container_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card1 {
        width: 100%;
        margin-bottom: 20px;
    }

}
@media screen and (min-width: 1440px) {
    .navbarBg {
        background-color: var(--color1) ;
    position: fixed;
z-index: 1;}

    .carousel,
    .navbar {
        width: 100%;
        position: relative;
    }

    .navbar {
        z-index: 1;
    }

    .container_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card1 {
        width: 100%;
        margin-bottom: 20px;
    }

}

/*
    @media screen and (min-width: 820px) and (max-width: 1080px) {
        
        .carousel,
        .navbar {
            width: 100%;
            position: relative;
        }

        .navbar {
            z-index: 1;
        }

        .navbarBg {
            background-color: #002325;
        }

        .text_info>h1 {
            font-size: 280%;
        }

        .text_info>p {
            font-size: medium;
            margin-left: auto;
            margin-right: auto;
        }

        .text_info>h3 {
            font-size: larger;
        }

        .imgs_articulo {
            display: flex;
            justify-content: center;
        }

        .imgArt {
            margin-left: 7px;
            width: 85%;
        }


        .imgArt:nth-of-type(3),
        .imgArt:nth-of-type(4) {
            display: none;
        }

        .container_cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card1 {
            width: 100%;
            margin-bottom: 20px;
        }

        .container_cards .card1:nth-child(1),
        .container_cards .card1:nth-child(2) {
            display: none;
        }




      }





      @media screen and (min-width: 768px) and (max-width: 1023px) {


    }
    */